@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap');
@import url("https://fonts.googleapis.com/css?family=Raleway:900&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Mono&display=swap'); 
/* 코드 폰트 font-family: 'Fira Mono', monospace; */
/* font-family: 'Dhurjati', sans-serif; */

@font-face {
  font-family: 'Times Newer Roman';
  src: url("../src/fonts/TimesNewerRoman/TimesNewerRoman-Regular.otf");
}

@font-face {
  font-family: 'SUIT-Regular';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_suit@1.0/SUIT-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: 'SUIT-BOLD';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_suit@1.0/SUIT-Regular.woff2') format('woff2');
  font-weight: bold;
  font-style: normal;
}

@import url('https://fonts.googleapis.com/css2?family=Dhurjati&display=swap');



:root {
  font-size: 62.5%;


  --side-padding : 20rem;
  --width : 1300px;
  --header-height : 420px;
  
}

@media screen and (max-width : 1479px){
  :root {
    --side-padding :10rem;
    --header-height : 386px;
    --width : 900px;

  }
}
@media screen and (max-width : 1023px) {
  :root {
    --side-padding : 6rem;
    --width : 760px;
    --header-height : 380px;

  }
}
@media screen and (max-width : 767px) {
  :root {
    --side-padding : 3rem;
    --width : 478px;
    --header-height : 240px;

  }
}
@media screen and (max-width : 480px) {
  :root {
    --side-padding : 2rem;
    --width : 340px;
    --header-height : 160px;

  }
}
body {
  font-size: 1.6rem;
  box-sizing: border-box;
  font-family: 'Noto Sans KR', sans-serif;
}