@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap');

@font-face {
  font-family: 'Times Newer Roman';
  src: url("../src/fonts/TimesNewerRoman/TimesNewerRoman-Regular.otf");
}

:root {
  font-size: 62.5%;

  --side-padding : 6rem;
}
body {
  font-size: 1.6rem;
  box-sizing: border-box;
  font-family: 'Noto Sans KR', sans-serif;
}